/* Formato Coberturas */


h3 {padding-top: 2%;}

.color-texto-azul{
    color: rgb(150, 192, 232);

}

.color-texto-naranja{
    color: rgb(242, 141, 101);

}

.color-texto-verde{
    color: rgb(114, 182, 120);

}

.color-texto-violeta{
    color: rgb(210, 168, 226);
}

.color-texto-verdeAzulado {
    color: rgb(140, 202, 174)

}