/* Formato Contacto */

.contacto{
  max-width: 80%;
  padding-top: 5%;

}

.formulario{

    text-align: center;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
    width: 70rem;
}
.button[type="submit"]:hover {
    background-color: #4cae4c;
    width:  120px;
}

.valores{
    color: white

}

.boton-envio{
    width: 120px;
    max-width: 5%;
  }

  .ubicacion{
    width: 60rem;

  }