/* Formato Contacto */

.contacto{
  padding-top: 5%;

}

.formulario{

    text-align: center;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
 }


.button[type="submit"]:hover {
    background-color: #4cae4c;
    width: 100px;

}

.valores{
    color: white

}

.ancho-boton{
  width: 2%
}

  .ubicacion{
    width: 60rem;

  }