/* Formato Contacto */

.formulario{

    text-align: center;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
    width: 70rem;
}
.button[type="submit"]:hover {
    background-color: #4cae4c;
    width:  120px;
}

.valores{
    color: white

}

.btn{
    width: 120px;
  }

  .contacto{
    padding-top: 15%;

  }


  .ubicacion{
    width: 60rem;

  }