/* Formato Menu */

.menu-item{
    width: 30rem;
    text-align: center;
}


/* Formato Navegador */

nav{
    text-align: center;
    padding-top: 10%;
}

.imagen-nav{
    width: 10rem;
    padding: 3%;
}