/* Formato Menu */

.menu-item{
    width: 30rem;
    text-align: center;
}


/* Formato Navegador */

nav{
    text-align: center;
    padding-top: 2%;
}

.imagen-nav{
    padding: 2%;
    max-width: 100%;
    height: auto;
    display: block;
}