/* Formato Servicios */

.listado-servicios{
    padding: 3%;

}

.listados{
    margin-bottom: 3%;
    a{
        text-decoration: none;
    }

    a:visited{
        text-decoration: none;
    }
}

.especialidad{
    margin: 2%;
}