/* Formato Variables */

.color-texto-azul{
    color: rgb(104, 132, 194) ;

}

.color-texto-naranja{
    color: rgb(242, 141, 101);

}

.color-texto-verde{
    color: rgb(114, 182, 120);

}

.color-texto-violeta{
    color: rgb(210, 168, 226);
}

.color-texto-verdeAzulado {
    color: rgb(140, 202, 174)

}


.color-texto-amarillo{
    color: rgb(251, 190, 94);

}


.color-texto-rosa{
    color: rgb(244, 166, 160);

}


.color-texto-celeste{
    color: rgb(150, 192, 232);

}


.color-fondo{
    background-color: RGB(244, 240, 230)

}

.color-fondo-elementos{
    background-color: white;
}