@charset "UTF-8";
/* Formato Variables */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Formato Header */
.titulo1 {
  text-align: center;
  margin: 5%;
}

.banner {
  text-align: right;
  height: 10rem;
  background-color: white;
}

/* Formato Footer */
footer {
  text-align: center;
  padding: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
footer h2 {
  margin: 5%;
}
footer a {
  margin: 5%;
}

/* Formato Body */
.font_principal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font_secundaria {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  text-align: center;
  margin: 3%;
}

h2 {
  text-align: center;
  margin: 3%;
}

h3 {
  text-align: center;
}

.container {
  margin: 3%;
}

/* Formato Coberturas */
/* Formato Contacto */
.formulario {
  text-align: center;
  padding: 5%;
  padding-left: 12%;
  padding-right: 12%;
  width: 70rem;
}

.button[type=submit]:hover {
  background-color: #4cae4c;
  width: 120px;
}

.valores {
  color: white;
}

.btn {
  width: 120px;
}

.contacto {
  padding-top: 15%;
}

.ubicacion {
  width: 60rem;
}

/* Formato Profesionales */
.contenedor-prof {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0px 0%;
  grid-auto-flow: row;
  grid-template-areas: "imagen-prof1 resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1" "imagen-prof1 resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1" ". resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1 resumen-prof1" "resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 imagen-prof2" "resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 imagen-prof2" "resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 resumen-prof2 .";
}

.imagen-prof1 {
  grid-area: imagen-prof1;
}

.resumen-prof1 {
  grid-area: resumen-prof1;
}

.resumen-prof2 {
  grid-area: resumen-prof2;
}

.imagen-prof2 {
  grid-area: imagen-prof2;
}

/* Media query para dispositivos móviles: */
@media (max-width: 768px) {
  .contenedor-prof {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0%;
    grid-template-areas: "imagen-prof1" "resumen-prof1" "imagen-prof2" "resumen-prof2";
  }
  .imagen-prof1 {
    grid-area: imagen-prof1;
  }
  .resumen-prof1 {
    grid-area: resumen-prof1;
  }
  .imagen-prof2 {
    grid-area: imagen-prof2;
  }
  .resumen-prof2 {
    grid-area: resumen-prof2;
  }
}
.resumen-prof1 {
  padding-top: 0%;
  margin: 2%;
}

.resumen-prof2 {
  padding-top: 0%;
  margin: 2%;
}

.imagen-prof1 {
  padding-top: 8%;
  max-width: 15rem;
  max-width: 100%;
  text-align: center;
}

.imagen-prof2 {
  padding-top: 8%;
  width: 15rem;
  max-width: 100%;
  text-align: center;
}

/* Formato Servicios */
/* Formato Menu */
.menu-item {
  width: 30rem;
  text-align: center;
}

/* Formato Navegador */
nav {
  text-align: center;
  padding-top: 2%;
}

.imagen-nav {
  padding: 2%;
  width: 15rem;
  max-width: 100%;
  height: auto;
  display: block;
}/*# sourceMappingURL=styles.css.map */